/* style.css - Quiz-App */
/*Mobile-First) */
html {
  font-family: Arial, Helvetica, sans-serif;
}

.upper-question-container {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90lvh;
  background-color: #d1e4f0;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem;
}

.question {
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem 1rem;
}

.answer-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  margin: 1rem 2rem;
}

.btn {
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  background-color: #0f699a;
  color: #fff;
  font-size: medium;
  padding: 1rem;
}
.btn:active {
  transform: none;
}

button:disabled:hover {
  transform: none;
}

.btn-answer {
  font-size: medium;
  padding: 1rem 2rem;
}

.nav-container {
  margin: 1rem 2rem;
}

.correct {
  background-color: #265c2f;
  color: #fff;
}

.incorrect {
  background-color: #dd3121;
  color: #fff;
}

.score-container {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  text-align: center;
}

.option {
  background-color: transparent;
  border: none;
  font-size: 0.7rem;
  text-align: center;
}

@media (min-width: 601px) {
  main {
    height: auto;
  }
  .question {
    font-size: 2.5rem;
    margin: 3rem 2rem;
  }

  .answer-container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin: 3rem 2rem;
  }

  .btn-answer {
    font-size: large;
    padding: 2rem;
  }

  .nav-container {
    margin: 3rem 2rem;
  }

  .btn:hover {
    background-color: #d5c093;
    transform: initial;
  }

  .score-container {
    font-size: 1rem;
    text-align: left;
  }

  .option {
    text-align: left;
  }
}
